.about-section {
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.about-section h2 {
    font-size: 2em;
    font-weight: normal;
}

.about-card {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-width: 1800px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    padding: 80px;
}

.about-text {
    flex: 1.2;
    margin-right: 40px;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-card p {
    font-size: 1.2em;
    margin-bottom: 35px;
    color: #333;
    line-height: 1.8;
    text-align: left;
}

.about-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Responsive styling */
@media (max-width: 768px) {
    .about-section {
        padding: 20px;
    }
    
    .about-card {
        flex-direction: column;
        padding: 20px;
    }

    .about-text {
        margin-right: 0;
        text-align: center;
    }
    
    .about-image {
        margin-left: 0;
        margin-top: 20px;
    }
}
